extends ../../common/layout

block links
    link(rel='stylesheet', href='/css/pages/home/index.css?v=25f8fc1c22')

block content

    div= `主题:${bookList[0].subject}`
    div= `发件人:${bookList[0].from_box}`
    div= `收件箱:${bookList[0].to_box}`
    div= `时间:${new Date(bookList[0].receive_time).Format('yyyy/MM/dd hh:mm:ss')}`
    hr
    html !{bookList[0].html}

block scripts
    script(type="text/javascript" src="/js/pages/home/index.js?v=83695827f2")
